body {
    background: url("pictures/wall.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFFFFF;
    font-family: times;
    margin-left: 100px;
    margin-right: 100px;
    min-width: 600px;
}
h1 {
	text-shadow: 2px 2px 2px rgba(47,191,25,0.8);
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000000;
    font-size: 50px;
}
#workingArea {
	border-radius: 10px;
    background-color: black;
    border: 5px solid red;
    margin-left: 15%;
    width: 850px;
    height: 450px;
}
#div_graph {
    margin: 15px; 
}
#checkboxes {
    margin-left: 15px;
    margin-right: 15px;
    width: 600px;
    float: left;
}
#div_buttons {
    text-align: right;
    float: right;
    margin-right: 10px;
    
    
}

#resetZoomButton,#stopPlotButton {
	cursor: pointer;
  background: #fa0a0a;
  background-image: -webkit-linear-gradient(top, #fa0a0a, #161d21);
  background-image: -moz-linear-gradient(top, #fa0a0a, #161d21);
  background-image: -ms-linear-gradient(top, #fa0a0a, #161d21);
  background-image: -o-linear-gradient(top, #fa0a0a, #161d21);
  background-image: linear-gradient(to bottom, #fa0a0a, #161d21);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 1px 1px #0ecc1b;
  font-family: Georgia;
  color: blue;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#resetZoomButton:hover,#stopPlotButton:hover {
	cursor: pointer;
  background: #c21d85;
  background-image: -webkit-linear-gradient(top, #c21d85, #3320bf);
  background-image: -moz-linear-gradient(top, #c21d85, #3320bf);
  background-image: -ms-linear-gradient(top, #c21d85, #3320bf);
  background-image: -o-linear-gradient(top, #c21d85, #3320bf);
  background-image: linear-gradient(to bottom, #c21d85, #3320bf);
  text-decoration: none;
}


#stopPlotButton, #resetZoomButton {
    text-align: center;
    
}

#checkboxes{
	color: silver;
}

