/*blocks*/
.block{
    position:relative;
}

#square { 
    width: 105px; 
    height: 105px; 
    background: #16a085; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}


#triangle1 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 75px 75px 75px;
    border-color: transparent transparent #f1c40f transparent; 
    cursor: pointer;
}

#triangle2 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 0 150px 150px;
    border-color: transparent transparent    transparent #e74c3c;
    top:-100px;
    cursor: pointer;
}

#triangle3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 150px 0 150px;
    border-color: #007bff transparent transparent transparent;
    top:-100px;
    cursor: pointer;
}

#triangle4 { 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 150px 150px;
    border-color: transparent transparent #d63294 transparent;
    top:-300px;
    cursor: pointer;
}

#triangle5 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 75px 75px 75px 0;
    border-color: transparent #69dcf0 transparent transparent;
    top: -350px;
    cursor: pointer;
}

#parallelogram {
	width: 150px;
	height: 70px;
	-webkit-transform: skew(-45deg);
	   -moz-transform: skew(-45deg);
	     -o-transform: skew(-45deg);
	background: #e67e22;
    top:-600px;
    cursor: pointer;
}

/*Page layout*/
#blockTray {
	float: left;
	height: 100%;
	width: 20%;
    padding:5px;
}

#canvas {
	float: left;
	height: 90%;
	width: 70%;
	text-align: center;
	vertical-align: top;
    background-color: #ecf0f1;
    margin:3%;
    border-radius: 30px;
}

#instruction {
	margin-top: 150px; 
	font-size: 24px;
	color: #bdc3c7;
}

html, body {
    height:98%;
    width:98%;
    background-image: url(bg4.jpg);
    background-repeat: no-repeat;
  background-size:auto;
}

img.question{

cursor: pointer;
position: relative;
margin-top: 2.5%;
float: right;

}

div.napoveda{

    position: absolute;
    left: 25%;
    top: 30%;
    right: 25%;
    bottom: 25%;
    text-align:center;
    font-style: italic;
    font-size: 30px;
    overflow-y: auto;
    padding-top: 4%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: white;
    border-radius: 6%;
    z-index: 10;
}

.tlacidlo {
  background: #ff0011;
  background-image: -webkit-linear-gradient(top, #ff0011, #4a2f2f);
  background-image: -moz-linear-gradient(top, #ff0011, #4a2f2f);
  background-image: -ms-linear-gradient(top, #ff0011, #4a2f2f);
  background-image: -o-linear-gradient(top, #ff0011, #4a2f2f);
  background-image: linear-gradient(to bottom, #ff0011, #4a2f2f);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 2px 1px 1px #fa1717;
  font-family: Georgia;
  color: #1f1c1c;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #e81e1e 2px;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: 5%;
}

.tlacidlo:hover {
  background: #d1bd23;
  background-image: -webkit-linear-gradient(top, #d1bd23, #3498db);
  background-image: -moz-linear-gradient(top, #d1bd23, #3498db);
  background-image: -ms-linear-gradient(top, #d1bd23, #3498db);
  background-image: -o-linear-gradient(top, #d1bd23, #3498db);
  background-image: linear-gradient(to bottom, #d1bd23, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.zac {
  background: #12c721;
  background-image: -webkit-linear-gradient(top, #12c721, #2980b9);
  background-image: -moz-linear-gradient(top, #12c721, #2980b9);
  background-image: -ms-linear-gradient(top, #12c721, #2980b9);
  background-image: -o-linear-gradient(top, #12c721, #2980b9);
  background-image: linear-gradient(to bottom, #12c721, #2980b9);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 2px 1px 1px #a41fbf;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #2ba11b 2px;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: 5%;
  margin-right: 1%;
}

.zac:hover {
  background: #e6fc3c;
  background-image: -webkit-linear-gradient(top, #e6fc3c, #3498db);
  background-image: -moz-linear-gradient(top, #e6fc3c, #3498db);
  background-image: -ms-linear-gradient(top, #e6fc3c, #3498db);
  background-image: -o-linear-gradient(top, #e6fc3c, #3498db);
  background-image: linear-gradient(to bottom, #e6fc3c, #3498db);
  text-decoration: none;
  cursor: pointer;
}

#result{

position: absolute;
left: 50%;
top: 10%;
font-style: italic;
font-size: 30px;
color: black;
text-shadow: 2px 1px 0 rgba(86,176,33,0.8);
background-color: white;
width: 10%;
height: 10%;
text-align:center;
padding-top: 2.5%;
border-radius: 50%;
}


h2.nadpis{
    text-align:center;
    font-style: italic;
    text-shadow: 2px 1px 0 rgba(86,176,33,0.8);
}

#vysled_skore{

position: absolute;
left: 30%;
top: 10%;
font-style: italic;
font-size: 30px;
color: black;
text-shadow: 2px 1px 0 rgba(86,176,33,0.8);
background-color: white;
width: 10%;
height: 10%;
text-align:center;
padding-top: 2.5%;
border-radius: 50%;
}

h2.nadpis2{

    
    font-style: italic;
    text-shadow: 2px 1px 0 rgba(86,176,33,0.8);
    position: absolute;
    top: 0%;
    left: 25%;

}