.profile{
  margin-left: 44%;}

.btn-success,.btn-warning{
  margin-left: 1%;
  border-radius: 5px;
}

.card{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(240,248,255,0.5)
}

.edit{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(240,248,255,0.5)
}

.hobbies{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(240,248,255,0.5)
}

.closebutton {
  background-color: red;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 25px;
}

