
<div class="container profile card">
  <h2>{{name}}</h2>
<div>
  <div><strong>Age: </strong>{{age}}</div>
  <div><strong>Email: </strong>{{email}}</div>
  <div><strong>Address: </strong>{{address.stret}}{{address.city}}{{address.state}}</div>
</div>
  <div>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <button (click)="onClick()" class="btn-success">Edit name</button>
<button (click)="toggleEdit()" class="btn-warning">Edit user</button>
</div>


<div *ngIf=isEdit class="edit">
  <h2>Edit user</h2>
  <form >
    <div>
      <label for="name">Name: </label><br>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="age">Age: </label><br>
      <input type="text" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for="email">Email:</label><br>
      <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="street">Street:</label><br>
      <input type="text" [(ngModel)]="address.stret" name="street">
    </div>
    <div>
      <label for="city">City:</label><br>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">State:</label><br>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
  </form>
</div>

<div class="hobbies">
<h2>Hobbies</h2>

<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby: </label>
    <input type="text" placeholder="Add new hobby" #hobby>
  </div>
</form>


  <div *ngFor="let hobby of hobbies; let i=index">
    {{i+1}}. {{hobby}}
    <button (click)="deleteHobby(hobby)" class="closebutton"> &times; </button>
  </div>
</div>


<h1 style="margin-left: 47%">Posts</h1>


  <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Post</th>
      <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td style="color: red">{{post.title}}</td>
      <td style="color: blue">{{post.body}}</td>
    </tr>
    </tbody>
  </table>


