body{

	margin: 10px;
	padding: 10px;
}

div.pocasie{

        background-color: rgba(0,0,0,0.4);
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-left: 35%;
    text-align: center;
    color: silver;
}

#informacie{
  background-color: rgba(95,158,160,0.4);
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-left: 35%;
    color: chartreuse;
    text-align: center;
}
