body {
  font-family: Verdana;
   background-image: url(images/ocean.jpg);
   background-repeat: no-repeat;
   background-position: 0 20%;
  }

h1{

  font-family: italic;
  text-align: center;
  text-shadow: 2px 2px red;
  color: white;
}


.celok{
  width: 600px;
  height: 600px;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 10px; 
  border-radius: 15px;
  -webkit-border-radius:15px;
  -o-border-radius:15px;
  overflow: auto;
}

.interval{
text-align-last: center;
color: blue;
text-shadow: 1px 1px white;
font-family: Monotype Corsiva;
font-size: 30px;
}


#OutputBox {
    background-color: white;
    border-radius: 5% 5%;
    height: 300px;
    width: 530px;
    box-shadow: rgb(38, 233, 255) 10px 10px;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.8em;
    margin:20px;
    padding: 10px;
        
}

#from{


border-style: none;
}

.start,.stop {
  position: relative;
  margin-bottom: 20px;
  margin-left: 50px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 4px 2px 0px #9c5170;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.start:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.stop:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  cursor: pointer;
}



#state {
    background-color: blue;
    color:silver;
    margin: auto;
    text-align-last: center;
}
.foot{
font-family: italic;
color: #85D6D3;

}

a:link {
    text-decoration: none;
      color: lightgreen; 
}

a:visited {
    text-decoration: none;
    color: yellow;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
    color: pink;
}