<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4 content">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error':!validateFirsttName()} ">
        <label for="firstName">First Name:</label>
        <em *ngIf="!validateFirsttName() && profileForm.controls.firstName.errors.required">Required</em>
        <em *ngIf="!validateFirsttName() && profileForm.controls.firstName.errors.pattern">Must start with letter!</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error':! validateLastName()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!validateLastName()"></em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
