.votingWidgetContainer{
  padding-left: 24px;
}

.votingWidget{
  height: 64px;
  padding-top: 7px;
  border-radius: 21px;
}

.votingButton{
  margin-left: -7px;
  margin-top: 1px;
  cursor: pointer;
}

.votingButton i {
  color: white;
}

.badge-inverse{
  background-color: #fff;
  color: #4e5d6c;
}

.votingCount{
  margin-left: -11px;
  margin-top: 1px;
  font-weight: bold;
  font-size: 14px;
}
