<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage" id="myLogo" style="font-family: 'Pacifico', cursive;">Patrik Zošš</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#services">HOBBIES</a></li>
        <li><a href="#portfolio">TRAVELING</a></li>
        <li><a href="#" >BLOG</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Photo-->
<div class="one_page">
  <div class="col-md-7 col-md-offset-5 bw">
   <img  src="../assets/foto.jfif" class="img-circle" style="margin-top: 30px;" alt="Cinque Terre" width="304" height="300">
  </div>

<!-- Home page-->
<div class="jumbotron text-center">
<h1>Welcome to my website</h1>
</div>

<!--carousel-->
<h2 style="text-align: center">My favourite quotes</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h4>"If you tell the truth, you don't have to remember anything."<br><span style="font-style:normal;">Mark Twain</span></h4>
    </div>
    <div class="item">
      <h4>"Live as if you were to die tomorrow. Learn as if you were to live forever."<br><span style="font-style:normal;">Mahatma Gandhi</span></h4>
    </div>
    <div class="item">
      <h4>"There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle."<br>
        <span style="font-style:normal;">Albert Einstein</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<!--About-->
<div class="one_page about">
<div id="about" class="container-fluid">

<div class="row">
  <div class="col-sm-8">
    <h2>About me</h2>
    <p class="aboutme">I am student of Applied informatic at Slovak University of Technology in Bratislava.
      I love traveling. I like meet new people and visited new countries. I like spent my free time with friends and family.
      Best relax for me is sport. In my opinion the best sport ever is football. My favourite football club is Chelsea London FC.</p>
  </div>
</div>

  <div class="row">
    <div class="col-sm-8">
      <h2>My Knowledge & Skills</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:90%">
          HTML5
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-primary active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:85%">
          CSS3
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:70%">
          jQuery
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%;background-color: purple">
          Bootstrap
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
          Angular 4
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:67%;">
          PhP
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-primary active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
          MySQL
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:83%;">
          C
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:65%;">
          Java
        </div>
      </div>
    </div>
    </div>
</div>
</div>

<!--Hobbies-->
<div class="one_page hobbies">
<div id="services" class="container-fluid text-center">
  <h2>HOBBIES</h2>
  <h4>What I like</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart-empty logo-small"></span>
      <h4>Sports</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-transfer logo-small"></span>
      <h4>Traveling</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-bookmark logo-small"></span>
      <h4>Learn new things</h4>
      <p></p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>Fun with friends</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-refresh logo-small"></span>
      <h4>Relax with family</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-book logo-small"></span>
      <h4>Read books</h4>
      <p></p>
    </div>
  </div>
</div>
</div>

<!--Traveling-->
<div class="one_page">
<div id="portfolio" class="container-fluid text-center">
  <h2>Traveling</h2>
  <h4>What I've visited</h4>
  <div class="row">
    <div class="container">
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel2" data-slide-to="1"></li>
        <li data-target="#myCarousel2" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="visitedtown">Paris</div>
          <img src="../assets/imges/paris.jpg" alt="Paris">
        </div>

        <div class="item">
          <div class="visitedtown">Münich</div>
          <img src="../assets/imges/munchen.JPG" alt="Munchen">
        </div>

        <div class="item">
          <div class="visitedtown" >Vienna</div>
          <img src="../assets/imges/vienna.JPG" alt="Vienna">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</div>
</div>

<!--Contact-->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center" style="color: #212136">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact me and I'll get back to you as soon as possible.</p>
      <p><a href="https://www.google.sk/maps/place/Cintor%C3%ADn+Sl%C3%A1vi%C4%8Die+%C3%BAdolie/@48.1585712,17.0658982,17z/data=!3m1!4b1!4m5!3m4!1s0x476c8b8d968cd9c9:0xcddda68016dbff64!8m2!3d48.1585712!4d17.0680869">
        <span class="glyphicon glyphicon-map-marker" style="color: red"></span> Bratislava, SK</a></p>
      <p><a href="tel:+421903919905"><span class="glyphicon glyphicon-phone" style="color: green"></span>+421 903 919 905</a></p>
      <p><a href="mailto:zosspatrik@gmail.com"><span class="glyphicon glyphicon-envelope" style="color: orange"></span> zosspatrik@gmail.com</a></p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Goodbye-->
<div>
  <h1 class="jumbotron text-center">
    Goodbye
  </h1>
</div>

<!--Footer-->
<footer id="myFooter" class="container-fluid text-center" style="margin-bottom: 10px">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-4"><span>Copyright © Patrik Zošš 2017</span></div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://www.facebook.com/patrik.zoss?ref=bookmarks"><i class="fa fa-facebook fa-lg socialbuttons"></i></a></li>
          <li><a href="https://www.instagram.com/patrik.zoss.10/"><i class="fa fa-instagram fa-lg socialbuttons"></i></a></li>
          <li><a href="https://twitter.com/zoss_patrik"><i class="fa fa-twitter fa-lg socialbuttons"></i></a></li>
          <li><a href="https://www.linkedin.com/in/patrik-zošš-6655a6127"><i class="fa fa-linkedin-square fa-lg socialbuttons"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4"><a href="#myPage"  title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a></div>
    </div>
  </div>
</footer>

