#myLogo:hover{color: #00cc66 !important;}
p{color: #212136;}
h2 {font-size: 24px; text-transform: uppercase; color: #fff; font-weight: 600; margin-bottom: 30px;}
h4 {font-size: 19px; line-height: 1.375em; color: #fff; font-weight: 400; margin-bottom: 30px;}
#myFooter{padding: 5px;}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

.jumbotron {background-color: #212136; /* Blue */color: #ffffff; max-height: 500px; font-family: Montserrat, sans-serif;}
.jumbotron:hover{color: #00cc66;}
.container-fluid {padding: 60px 50px;}
.bg-grey {background-color: #f6f6f6;}
.logo-small {color: #00cc66;font-size: 50px;}
.logo {color: #00cc66;font-size: 200px;}
.thumbnail {padding: 0 0 15px 0;border: none;border-radius: 0;}
.thumbnail img {width: 100%;height: 100%;margin-bottom: 10px;}

.carousel-control.right, .carousel-control.left {background-image: none;color: #00cc66;}
.carousel-indicators li {border-color: #00cc66;}
.carousel-indicators li.active {background-color: #00cc66;}
.item h4 {font-size: 19px;line-height: 1.375em;font-weight: 400;font-style: italic;margin: 70px 0;}
.item span {font-style: normal;}


.navbar {margin-bottom: 0;background-color: #212136;z-index: 9999;border: 0;font-size: 12px !important;line-height: 1.42857143 !important;letter-spacing: 4px;  border-radius: 0;font-family: Montserrat, sans-serif;}
.navbar li a, .navbar .navbar-brand {color: #fff !important;}
.navbar-nav li a:hover, .navbar-nav li.active a {color: #fff !important;background-color: #00cc66 !important;}
.navbar-default .navbar-toggle {border-color: transparent;color: #fff !important;}

footer .glyphicon {font-size: 20px;margin-bottom: 20px;color: #FFF;}
footer .glyphicon:hover{color: #00cc66;}

@media screen and (max-width: 768px)
{.col-sm-4 {text-align: center;margin: 25px 0;}
 #about{margin-top: 100px;}
 #contact{margin-top: 100px}
 #services{margin-bottom: 200px;}
 .bw{text-align: center}
 .about{margin-bottom: 120px}
 .hobbies{margin-bottom: 350px}
}
@media screen and (max-width:400px){
  #about{margin-top: 200px;}
  #contact{margin-top: 170px;}
  .about{margin-bottom: 300px;}
  .hobbies{margin-bottom: 400px;}
}


div.c-wrapper{width: 80%;margin: auto;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img{max-width: 80%;height: 450px;margin: auto;margin-bottom: 80px;}
.content{color: #00cc66;}
.carousel-caption{max-width: 20%;background-color: rgba(0,0,0,0.7);color: white;margin: auto;}

.bw {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.bw:hover {-webkit-filter: grayscale(100%);}

.one_page{height: 100vh;min-height: 100vh;}

.socialbuttons{color: white}
.socialbuttons:hover{color: #00cc66}

.aboutme{color: #f6f6f6;text-align: justify;}

.visitedtown{font-family: 'Permanent Marker', cursive;font-size: 20px}

