h1{
   text-align: center;
    font-family: 'Griffy', cursive;
    color: red;
    text-shadow: 2px 2px black;
    font-size: 75px;
}
body{

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 100%;
}

.tlacitka{


	margin-left: 10%;
}

#decrad{
	cursor: pointer;
	background-color: red;
}

#incrad{

	cursor: pointer;
	background-color: green;
}

#t{

	width:12%;
	margin:0 83%;
	margin-bottom: 5%;
}

*{
box-sizing: border-box;
-moz-box-sizing:border-box;
}

.toolbar{
width: 100%;
height: 50px;
padding: 10px;
background: rgba(0,0,0,0.8);
color: white;
font-family: 'Griffy', cursive;

font-size: 25px;}

.radcontrol{

width: 30px;
height: 30px;
background-color: #4f4f4f;
display: inline-block;
text-align:center;
padding: 0px;

}

#rad{
	float: left;
}

#colors{
float: right;
}

.swatch{
width: 30px;
height: 30px;
border-radius: 15px;
box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
display: inline-block;
margin-left: 10px;
background-color: cyan;
}

.swatch.active{

border: 4px solid white;
box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}

#save{
float: right;
}

#save:hover{
	background-color: blue;
}

#canvas{

border-radius: 10px;
border: 10px double magenta;
background: silver;
    margin: 10px;
    
    
}

.btn{

	float: left;
}
