body.poz{background-color: black;
}

body.poz2{background-color: orange;}

h1.nadpis{color: red;}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.menu {
    display: inline;
}

ul.menu2{color: silver;}
a.menu:link {color: yellow;}
a.menu:visited {color: lime;}
a.menu:hover {color: red;}
a.menu:active {color: blue;}

h2.nadpis2{
	color: lime;
	text-align: center;
	}

h2.nadpis{color: red;}	

h3.nadpis{color: orange}
h3.nadpis2{color: red}

h4.nadpis{color: lime}
p.text{color: silver;
	text-align: center;
}

p.text2{color: red;}
p.text3{color: orange;}

table, td,th { 
	border: 1px solid black; 
		border-color: red;
		text-align: center;
		color: silver;}
	

td.prednaska {
	background-color:green;
}

td.cviko {
	background-color:blue;
}

td.telesna {
	background-color:red;
}


p.kontakt {
		color: orange;
}



section.o_mne{
	float:left;
	width: 30%;
	height: 30%;
	display: block;
	margin: auto;
	
   
}
section.o_mne p{
		font-size:28px;
}



section.o_mne2{
	float:left;
	width: 50%;
	height: 10%;
	margin: auto;
}
section.o_mne2 p{
		font-size:28px;
}

section.o_mne3{
	float:right;
	width: 40%;
	height: 50%;
	margin: 10px;
}
section.o_mne3 p{
		font-size:20px;
}
section.o_mne3 li{
	padding-left: 30px;
	font-size:20px;
	font-style:oblique;
	font-weight:bold;
}

aside{
	float: left;
	width: 30%;
	height: 10%;
	position:relative;
	font-size: 22px;
	font-style:italic;
	margin: 20px;
}

img.ja {
	  float: left;
      margin: 5px;
      padding: 5px;
      width: 10%;
	  height: 30%;
      border: solid 1px black;
      transition: all 1s;
      background: lime;
    }
    
    img.ja:hover {
      transform: scale(1.5) rotate(10deg);
      transform-origin: -180px -20px;
    }

.mapa{
width: 1875px;
height: 800px;
margin: 5px;
padding: 5px;
}	
	
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
}	

.marker{
position: absolute;
	top: 230px;
	left: 1200px;
	width: 200px;
	height: 200px;
	z-index: 1;
}

.marker2{
position: absolute;
	top: 250px;
	left: 1320px;
	width: 200px;
	height: 200px;
	z-index: 1;
}

.marker3{
position: absolute;
	top: 300px;
	left: 700px;
	width: 200px;
	height: 200px;
	z-index: 1;
}

.marker4{
position: absolute;
	top: 150px;
	left: 500px;
	width: 200px;
	height: 200px;
	z-index: 1;
}


.rozb {
    position: absolute;
    display: inline-block;
}

.rozb-obsh {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: auto;
    min-width: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
    z-index: 2
}

.rozb1:hover .rozb-obsh{
	top: 435px;
	left: 1100px;
    display: block;
    background-color: lime;
}

.rozb2:hover .rozb-obsh{
	top: 450px;
	left: 1200px;
    display: block;
    background-color: lime;
}

.rozb3:hover .rozb-obsh{
	top: 500px;
	left: 550px;
    display: block;
    background-color: lime;
}

.rozb4:hover .rozb-obsh{
	top: 350px;
	left: 20px;
    display: block;
    background-color: lime;
}

div img.erb{
	 width: 80px;
	 height: 80px;
	 float: right;
	 position: relative;
}

.odkaz
a:link {color: yellow;}
a:visited {color: lime;}
a:hover {color: red;}
a:active {color: blue;}