body.poz{background-color: black;
}

h1.nadpis{color: red;}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li.menu {
    display: inline;
}

ul.menu2{color: silver;}
a.menu:link {color: yellow;}
a.menu:visited {color: lime;}
a.menu:hover {color: red;}
a.menu:active {color: blue;}

h2.nadpis2{
	color: lime;
	text-align: center;
	}

h2.nadpis{color: red;}	

h3.nadpis{color: orange}
h3.nadpis2{color: red}

h4.nadpis{color: lime}
p.text{color: silver;
	text-align: center;
}

p.text2{color: red;}
p.text3{color: orange;}

table, td,th { 
	border: 1px solid black; 
		border-color: red;
		text-align: center;
		color: silver;}
	

td.prednaska {
	background-color:green;
}

td.cviko {
	background-color:blue;
}

td.telesna {
	background-color:red;
}


p.kontakt {
		color: orange;
}



section.o_mne{
	float:left;
	width: 30%;
	height: 30%;
	display: block;
	margin: auto;
	
   
}
section.o_mne p{
		font-size:28px;
}



section.o_mne2{
	float:left;
	width: 50%;
	height: 10%;
	margin: auto;
}
section.o_mne2 p{
		font-size:28px;
}

section.o_mne3{
	float:right;
	width: 40%;
	height: 50%;
	margin: 10px;
}
section.o_mne3 p{
		font-size:20px;
}
section.o_mne3 li{
	padding-left: 30px;
	font-size:20px;
	font-style:oblique;
	font-weight:bold;
}

aside{
	float: left;
	width: 30%;
	height: 10%;
	position:relative;
	font-size: 22px;
	font-style:italic;
	margin: 20px;
}

img.ja {
	  float: left;
      margin: 5px;
      padding: 5px;
      width: 10%;
	  height: 30%;
      border: solid 1px black;
      transition: all 1s;
      background: lime;
    }
    
    img.ja:hover {
      transform: scale(1.5) rotate(10deg);
      transform-origin: -180px -20px;
    }

	
	
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 10em;
    margin-top: -3em;
}	
