body{
	margin:0px;
	padding:0px;
	font-style: italic;
	text-align: center;
}

input[type="text"],input[type="password"]{

	outline: none;
	padding: 10px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border:1px solid #eee;
	margin: 20px auto;

}

input[type="submit"]{
	padding: 10px;
	color: #fff;
	background:#0098cb;
	width: 320px;
	margin: 20px auto;
	margin-top: 0px;
	border:0px;
	border-radius: 3px;
	cursor: pointer;
}

input[type="submit"]:hover{

background:#00b8eb;

}

.header{

background: #3cf;
border-bottom: 1px solid #eee;
padding: 10px 0px;
width: 100%;
text-align: center;
}

.header a{
color:#333;
text-decoration: none;

}

.btn-info {
    margin: 10px 10px;
}

