h1{

	text-align: center;
	font-family: 'Spirax', cursive;
	color: red;
	text-shadow: 1px 1px black;
}


body{
margin: 1%;
padding: 0;
background: #00ff00 url(bg.jpg) no-repeat fixed center;
}

input.zadaj1{

	border-radius: 5px;
    padding: 3px;
    margin: 0px 0px 5px 0px;
}

select.droptd{
    cursor: pointer;
    width: 10%;
    height: 30px;
    border-radius: 6px;
}

form{

	color: red;
}

div.result{

margin: 5px 0px;
background-color: rgba(0,0,0,0.8);
    width: 45%;
    min-height: 0%;
    border-radius: 10px;
    color: aqua;
    padding: 10px;
}