body{

	background-image: url("bg.jpg");
	color: silver;
}

.h1, h1 {
    font-size: 60px;
    color: lightblue;
}
.nadpis{

font-family: italic;
    font-size: 40px;
    color: lightgoldenrodyellow;

}

.farba{
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: chartreuse;
}

.check{

	background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: rgb(255,0,102);
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}