<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
<ul>
  <li><a href="/">User</a></li>
  <li><a href="/about">About</a></li>
</ul>
</div>
<router-outlet></router-outlet>
