body{
	background-image: url(bali.jpg);
	background-size: cover;
	color: white;
}


.farba{

	width: 600px;
	height: auto;
	background-color: rgba(0,0,0,0.5);
	margin: 0 auto;
	margin-top: 50px;
	padding-top: 10px; 
	border-radius: 15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
}

.c{

	text-align: center;
}

.z{

font-size: 20px;
margin: auto 200px;

}

.hviezdicka{

color: white;
font-size: 20px;
text-align: left;

}

textarea {
    resize: none;
}