body{
	background-color: silver;
	background-image: url(bg.jpg);
}

h1{
color: blue;	
text-align: center;
text-decoration: underline;
font-family: Monotype Corsiva;
text-shadow: 2px 2px white;
}

img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	border-radius: 50%;
}
img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


#g1{
left: 15%;
top: 26%;
position: fixed;
}

#g2{
left: 35%;
top: 26%;
position: fixed;
}

#g3{
left: 55%;
top: 26%;
position: fixed;
}

#g4{
left: 75%;
top: 26%;
position: fixed;
}

#g5{
left: 15%;
top: 65%;
position: fixed;
}

#g6{
left: 35%;
top: 65%;
position: fixed;
}

#g7{
left: 55%;
top: 65%;
position: fixed;
}

#g8{
left: 75%;
top: 65%;
position: fixed;
}


.zobraz
{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0,0,0,0.7);
  display: none;
  left: 0;
  top: 0;

}

.close-icon
{
  display:block;
  text-decoration: none;
  box-sizing:border-box;
  width:22px;
  height:25px;
  border-radius:50%;
  color: white;
  position: relative;
  left: 92%;
  top: 10%;
}
.close-icon:hover{

	background-color: red;
	color: black;
	cursor: pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.celok
{
  position: relative;
  left: 12%;
  top: 5%;
  width: 76%;
  height: 80%;
  background-color: #ABE1E3;
}

.obr
{
  position: relative;
  float: left;
  width: 70%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

a.prew{
  font-size: 50px;
  position: fixed;
  top: 48%;
  right: 84.6%;
  cursor: pointer;
}

a.prew:hover{
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
  opacity: 0.5;
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

a.next{
  font-size: 50px;
  position: fixed;
  top: 48%;
  left: 62%;
  cursor: pointer;

}

a.next:hover{
  	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);

  opacity: 0.7;
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

div.popis
{

  width: 30%;
  height: 100%;
  margin-left: 70%;

}

div.nazov
{
	text-shadow: 2px 2px #FF0000;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding-top: 5%;
  height: 15%;
  font-family: Monotype Corsiva;
  overflow-x: auto;
  overflow-y: auto;


}

div.desc
{
  color: red;
  text-shadow: 1px 1px black;	
  font-style: italic;
  position: relative;
  height: 80%;
  padding: 5%;
  font-size: 20px;
  overflow-x: auto;
  overflow-y: auto;

}

div.play
{
  font-weight: bold;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 20%;
  top: 92.5%;
  text-align: center;
  background-color: greenyellow;
  cursor: pointer;


}

div.play:hover
{
  background-color: #00ff00;
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}


div.stop
{
  font-weight: bold;
  width: 25px;
  height: 25px;
  position: fixed;
  left: 60%;
  top: 92.5%;
  text-align: center;
  background-color: #FF3004;
  cursor: pointer;

}

div.stop:hover
{
  background-color: red;
  cursor: pointer;
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

p.pata{
	color: red;
}